<div class="sidebar-personal-info-section" style="font-size: 1.4rem">
<p> Share: 
<a href="https://www.google.com/" style="text-decoration: none; font-size: 1.4rem">
  <i class="fab fa-facebook" aria-hidden="true"></i>
</a>
<a href="https://www.google.com/" style="text-decoration: none; font-size: 1.4rem">
  <i class="fab fa-twitter" aria-hidden="true"></i>
</a>
<a href="https://www.google.com/" style="text-decoration: none; font-size: 1.4rem">
  <i class="fab fa-reddit" aria-hidden="true"></i>
</a>
</p>
</div>