<div class="sidebar-personal-info-section">
<p><h2 class="post-share">Share:  </h2><h2 class="post-share-icons">
<a href="https://www.facebook.com/sharer/sharer.php?u=www.google.com" style="text-decoration: none">
  <i class="fab fa-facebook" aria-hidden="true"></i>
</a> |
<a href="https://twitter.com/home?status=blahwww.google.com" style="text-decoration: none">
  <i class="fab fa-twitter" aria-hidden="true"></i>
</a> |
<a href="http://www.reddit.com/submit?url=www.google.com&title=blah" style="text-decoration: none">
  <i class="fab fa-reddit" aria-hidden="true"></i>
</a>
</h2>
</p>
</div>