<div class="sidebar-personal-info-section">
<p> Share: 
<a href="https://www.facebook.com/sharer/sharer.php?u={{ include.shareurl }}" style="text-decoration: none">
  <i class="fab fa-facebook" aria-hidden="true"></i>
</a>
<a href="https://twitter.com/home?status=Lectio%20Humana%20blog {{ include.shareurl }}" style="text-decoration: none">
  <i class="fab fa-twitter" aria-hidden="true"></i>
</a>
<a href="http://www.reddit.com/submit?url={{ include.shareurl }}&title=Lectio%20Humana%20blog" style="text-decoration: none">
  <i class="fab fa-reddit" aria-hidden="true"></i>
</a>
</p>
</div>