<style>
.video-holder {
  position: relative;
  width: 100%;
  height: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
  overflow: hidden;
}
.video-holder iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
{% assign width = include.width | times: 1.0 %}
{% assign height = include.height | times: 1.0 %}
{% assign paddingBottom = height | divided_by: width | times: 100 %}
{% if include.size != '' %}
  <div style="width: {{ include.size }}; margin:0 auto;">
{% else %}
  <div>
{% endif %}
<div class="video-holder" style="padding-bottom: {{ paddingBottom }}%">
  <iframe width="{{ include.width }}" 
          height="{{ include.height }}" 
          src="{{ include.url }}" 
          frameborder="0" 
          allowfullscreen></iframe>
  </div>
</div>