.page {
  margin-bottom: 4em;
  
  em {
	font-family: "Sorts Mill Goudy", "Palatino Linotype", Palatino, "Book Antiqua", serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }

  h1 { font-size: 1.4rem; }
  
  @media (min-width: 38rem) {
    font-size: .8rem;
	h1 { font-size: 1.4rem; }
  }
	
  .page-title {
    color: $theme-color;
    margin-top: 0;
    text-transform: uppercase;
  }
  
  .hebrew {
	  font-size: 1.0rem;
	  line-height: 1.2rem;
	}
	
  .download-link {
    font-size: 0.8rem;
	text-decoration: none;
	line-height: 1;
	margin-top: 0rem;
	margin-bottom: 0rem;
  }	
  
  .post-date {
      display: inline-block;
      font-size: 80%;
      color: $post-date-color;
      margin: 0;
      padding: 0;
	  margin-left: 5px;
    }
}

