.post {
  margin-bottom: 3em;
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }

  h1 { font-size: 1.4rem; }
  
  @media (min-width: 38rem) {
    font-size: .8rem;
	h1 { font-size: 1.4rem; }
  }

  .post-title {
    color: $theme-color;
    margin-top: 0;
  }
  
  .Mere-Orthodoxy {
    color: $mere-orthodoxy;
    margin-top: 0;
  }

  .post-date {
    display: inline-block;
    margin-top: -.5rem;
    margin-bottom: 0rem;
    color: $post-date-color;
  }
  
  .post-subtitle {
    margin-top: -.4rem;
	margin-bottom: 0.2rem;
	color: #515151;
	font-size: 1.0rem;
  }
  
  .post-share {
    margin-top: 0rem;
	color: #818181;
	font-size: 1.0rem;
  }
  
  .post-source {
    font-size: 0.8rem;
	text-decoration: none;
	line-height: 1;
	margin-top: 0rem;
	margin-bottom: 0rem;
  }
  
  .post-source a {
    font-size: 0.8rem;
	text-decoration: none;
	line-height: 1;
	margin-top: 0rem;
	margin-bottom: 0rem;
  }

  .post-more {
    margin-top: .5em;
    text-align: right;
    .fa{
      margin-right: .2em;
    }
  }

  article {
    line-height: 1.4rem;
  }
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid $lightgrey;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: $theme-color;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}

.latin {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e56060;
}
.latin p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  .latin {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}