---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <h2 class="post-subtitle">{{ page.subtitle }}</h2>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% if page.tags %} | 
  {% for tag in page.tags %}
    <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
  {% endfor %}
  {% endif %}
  <article>
    {{ content }}
  </article>
  
	<div class="sidebar-personal-info-section">
	<p><h2 class="post-share">Share:&nbsp;
	<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.blogurl }}{{ page.url }}" style="text-decoration: none; font-size: 1.2rem">
	  <i class="fab fa-facebook" aria-hidden="true"></i>
	</a>&nbsp;|&nbsp;
	<a href="https://twitter.com/home?status=Lectio%20Humana—{{ page.author }}, {{ page.subtitle }}: {{ site.url }}{{ site.blogurl }}{{ page.url }}" style="text-decoration: none; font-size: 1.2rem">
	  <i class="fab fa-twitter" aria-hidden="true"></i>
	</a>&nbsp;|&nbsp;
	<a href="http://www.reddit.com/submit?url={{ site.url }}{{ site.blogurl }}{{ page.url }}&title=Lectio%20Humana—{{ page.author }}, {{ page.subtitle }}" style="text-decoration: none; font-size: 1.2rem">
	  <i class="fab fa-reddit" aria-hidden="true"></i>
	</a>
	</h2>
	</p>
	</div>
</div>